<div class="actions">    
    <div class="row">
        <button class="button-primary" id="bet">Bet</button>
        <button class="button-primary" id="check">Check</button>
        <button class="button-primary" id="call">Call</button>
        <button class="button-primary" id="fold">Fold</button>
    </div>
</div>        