<div class="c">
    <!-- <p>Chat room</p> -->
    <div id="chat-room">
        <!-- <h3 class="pad">Chat shit</h3> -->
        <div id="chat-window">
            <div id="chat-output"></div>
            <div id="feedback"></div>
        </div>
        <div class="row pad u-full-width">
            <input class="button-primary eight columns" id="message" type="text" placeholder="Chat shit (m)" />
            <button class="button-primary four columns" id="send">Send</button>
        </div>
    </div>
</div>