<div id="game-log" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeLog()">&times;</a>
    <div class="overlay-content">
        <a href="#">Game Log</a>
        <p>coming soon...</p>
    </div>
</div>