<!-- views/partials/header.ejs -->

<div class="header u-full-width">
    <div class="row">
        <button class="button button-primary" id="getLink" onclick="copyLink()">Get Sharable
            Link</button>
        <% if (!joinedGame) { %>
            <anchor class="button popup collapse" id="quit-btn">Quit</anchor>
            <div class="button popup" id = "buyin">
        <% } else { %>
            <anchor class="button popup" id="quit-btn">Quit</anchor>
            <div class="button popup collapse" id="buyin">
        <% } %>
                <span id="txt">Join Game</span>
                <div class="popuptext" id="buyin-info">
                    <div class="row">
                        <!-- <div class="u-full-width"> -->
                        <!-- <label for="exampleEmailInput">Name</label> -->
                        <input type="text" placeholder="name" id="new-playerName">
                        <!-- </div> -->
                    </div>
                    <div class="row">
                        <input type="number" placeholder="stack size" min="1" id="new-stack">
                        <!-- </div> -->
                    </div>
                    <div class="button-primary" id="buyin-btn">Submit</div>
                    <!-- <span class="popuptext" id="buyin">Popup text...</span> -->
                </div>
            </div>
        <button class="button collapse" id="bomb-pot">Bomb Pot</button>
        <!-- <anchor class="button popup hidden" id="standup-btn">Standup</anchor> -->
        <div class="button disabled" id="blinds"> Blind: <span id="sb"><%= smallBlind %></span> / <span id="bb"><%= bigBlind %></span></div>
        <div class="volume on"><img src="../public/img/volume.svg" alt="sound on" id="volume-icon" height="38px" width="38px" /></div>

    </div>
</div>
