<div id="host-page" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeHostPage()">&times;</a>
    <div class="overlay-content">
        <div class="h">
            <h2>Buy-ins</h2>
        </div>
        <div id="buyins">
        </div>
    </div>
</div>