.card {
    display: inline-block;
    position: relative;
    /* width: 5em;
    height: 7em; */
    /* width: 4.375em;
    height: 6.125em; */
    width: 4.75em;
    /* height: 6.65em; */
    height: 5.8em;
    background-color: #ffffff;
    /* box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 0.065em 0.425em rgba(0, 0, 0, 0.8); */
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    /* border: .5px solid #555;   */
}

.left-card {
    transform: rotate(-5deg);
    display: inline-block;
    margin-right: -10px;
}
.right-card {
    transform: rotate(5deg);
    display: inline-block;
    margin-left: -10px;
}

.card.red {
    /* color: #DB504A; */
    color: #E71D36;
}

.card.black {
    color: #2C2C2C;
    /* color: #293132; */
}

.card.folded {
    background-color: #b2b2b2;
}

.card-topleft {
    /* font-family: 'Muli', sans-serif; */
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    position: absolute;
    /* top: 0.5em; */
    top: .1em;
    /* left: 0.75em; */
    left: .8em;
    font-size: 2em;
}


.card-bottomright {
    /* font-family: 'Muli', sans-serif; */
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;   
    position: absolute;
    /* bottom: 0.5em; */
    bottom: .1em;
    /* right: 0.75em; */
    left: 1.5em;
    /* transform: rotate(180deg); */
    /* font-size: x-large; */
    font-size: 2em;
}

/* .card-topleft {
    position: absolute;
    top: 0.25em;
    left: 1em;
}


.card-bottomright {
    position: absolute;
    bottom: 0.25em;
    right: 1em;
    transform: rotate(180deg);
} */

.card-corner-rank,
.card-corner-suit {
    text-align: center;
    transform: translate(-50%, 0);
}

.back-card {
    height: 98%;
    width: 98%;
    /* background: rgba(255, 89, 89); */
    background: rgb(225, 69, 63);
    border-radius: 0.25em;
    border: 1.5px solid #fff;
}

.back-card.waiting {
    filter: grayscale(100%);
}

.back-card-ring {
    height: 78%;
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25em;
    border: 2.5px solid rgba(255, 255, 255, 0.55);

    /* definitely a better way to do this, but for now we're going with this */
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(5% - 1.8px),
            rgba(255, 255, 255, 0.25) 5%,
            rgba(0, 0, 0, 0) calc(5% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(10% - 1.8px),
            rgba(255, 255, 255, 0.25) 10%,
            rgba(0, 0, 0, 0) calc(10% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(15% - 1.8px),
            rgba(255, 255, 255, 0.25) 15%,
            rgba(0, 0, 0, 0) calc(15% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(20% - 1.8px),
            rgba(255, 255, 255, 0.25) 20%,
            rgba(0, 0, 0, 0) calc(20% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(25% - 1.8px),
            rgba(255, 255, 255, 0.25) 25%,
            rgba(0, 0, 0, 0) calc(25% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(30% - 1.8px),
            rgba(255, 255, 255, 0.25) 30%,
            rgba(0, 0, 0, 0) calc(30% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(35% - 1.8px),
            rgba(255, 255, 255, 0.25) 35%,
            rgba(0, 0, 0, 0) calc(35% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(40% - 1.8px),
            rgba(255, 255, 255, 0.25) 40%,
            rgba(0, 0, 0, 0) calc(40% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(45% - 1.8px),
            rgba(255, 255, 255, 0.25) 45%,
            rgba(0, 0, 0, 0) calc(45% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 1.8px),
            rgba(255, 255, 255, 0.25) 50%,
            rgba(0, 0, 0, 0) calc(50% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(55% - 1.8px),
            rgba(255, 255, 255, 0.25) 55%,
            rgba(0, 0, 0, 0) calc(55% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(60% - 1.8px),
            rgba(255, 255, 255, 0.25) 60%,
            rgba(0, 0, 0, 0) calc(60% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(65% - 1.8px),
            rgba(255, 255, 255, 0.25) 65%,
            rgba(0, 0, 0, 0) calc(65% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(70% - 1.8px),
            rgba(255, 255, 255, 0.25) 70%,
            rgba(0, 0, 0, 0) calc(70% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(75% - 1.8px),
            rgba(255, 255, 255, 0.25) 75%,
            rgba(0, 0, 0, 0) calc(75% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(80% - 1.8px),
            rgba(255, 255, 255, 0.25) 80%,
            rgba(0, 0, 0, 0) calc(80% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(85% - 1.8px),
            rgba(255, 255, 255, 0.25) 85%,
            rgba(0, 0, 0, 0) calc(85% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(90% - 1.8px),
            rgba(255, 255, 255, 0.25) 90%,
            rgba(0, 0, 0, 0) calc(90% + 1.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(95% - 1.8px),
            rgba(255, 255, 255, 0.25) 95%,
            rgba(0, 0, 0, 0) calc(95% + 1.8px),
            rgba(0, 0, 0, 0) 100%);
}