<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124761032-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-124761032-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='/client/src/img/DeepStackLogo.png' type='image/png' />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" type="text/css" href="/client/src/css/login.css">
    <title>Create a game</title>
</head>

<body>
    <section class="header">
        <h2>welcome to cloudpoker</h2>
    </section>


    <main>
        <p>set up your private game</p>
        <form id="login-form">
            <input class="u-full-width" required type="text" id="name" name="name" minlength="2" maxlength="9" placeholder="Name">
            <input class="u-full-width" type="number" id="stack" name="stack" placeholder="Starting Stack">
            <div class="row">
                <div class="six columns">
                    <input class="u-full-width" type="number" id="small-blind" name="small-blind" min=0
                        placeholder="Small Blind">
                </div>
                <div class="six columns">
                    <input class="u-full-width" type="number" id="big-blind" name="big-blind" min=0 placeholder="Big Blind">
                </div>
            </div>
            <input class="u-full-width" type="text" id="table-name" name="table-name" minlength="2" maxlength="15" placeholder="Table Name (optional)">
            <div class="row">
                <div class="six columns">
                    <label class="straddle" id="straddle">
                        <input type="checkbox" name="straddle">
                        <span class="label-body">Straddle</span>
                    </label>
                </div>
                <div class="six columns">
                    <label class="straddle" id="multi-straddle">
                        <input type="checkbox" name="multi-straddle">
                        <span class="label-body">Multi-straddle</span>
                    </label>
                </div>
            </div>
            <button class="u-full-width button-primary">Create Game</button>
        </form>
    </main>
    <script src="../client/dist/login.bundle.js"></script>
</body>

</html>